<form class="container" [formGroup]="formPerson" (ngSubmit)="onSubmit()">
  <div class="form-row">
      <div class="form-group col-md-9">
          <label for="name">Nombre del contacto de la entidad*</label>
          <input class="form-control" id="name" formControlName="name" name="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">El nombre del contacto es un campo obligatorio</div>
          </div>
      </div>

      <div class="form-group botonera col-md text-right align-self-end">
      <span class="bloqueBoton">
        <button type="button" class="btn btn-secundary align-self-end" (click)="onClear()">Limpiar</button>
      </span>
          <span class="bloqueBoton">
        <button type="submit" class="btn btn-primary align-self-end">Guardar</button>
      </span>
      </div>

  </div>
</form>
